@page "/"
 
 <PageTitle>Index</PageTitle>
 <div class="main-content">
     <div class="main-title">
         <h1>ECHO COFFEE</h1>
         <p>INFO</p>
     </div>
 
 <h1>Hello, world!</h1>
     <div class="season">ВЕСНА-ЛЕТО</div>
 
 Welcome to your new app.
     <div class="menu-grid">
         <div class="menu-item">
             <h3>ФИРМЕННОЕ МЕНЮ</h3>
         </div>
         <div class="menu-item">
             <h3>АВТОРСКИЕ ЧАИ</h3>
         </div>
         <div class="menu-item">
             <h3>КЛАССИЧЕСКОЕ МЕНЮ</h3>
         </div>
         <div class="menu-item">
             <h3>ХОЛОДНЫЕ НАПИТКИ</h3>
         </div>
     </div>
 
 <SurveyPrompt Title="How is Blazor working for you?" />
     <div class="contacts">
         <h2>КОНТАКТЫ</h2>
         <div class="map-container">
             <iframe src="https://www.google.com/maps/embed?..." 
                     width="100%" 
                     height="400" 
                     style="border:0;" 
                     allowfullscreen="" 
                     loading="lazy"></iframe>
         </div>
     </div>
 </div>
